---
navbar_type: dark
permalink: '/contributors/active'

page_main_heading: GNOME Contributors
page_main_heading_description: Find out our current Contributors of the GNOME Project

contributors:
  heading: Current Contributors
  description: These are the current Contributors of GNOME. This list is updated manually.
---

{% include header.html %}

{% include navbar.html %}

<section class="py-4 d-flex flex-column align-items-center bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-5 d-flex justify-content-end flex-column main-heading">
        <h1 class="display-3 pb-3">{{ page.page_main_heading }}</h1>
        <span class="text-info lead">{{ page.page_main_heading_description }}</span>
      </div>
      <div class="col-md-7 d-none d-md-flex justify-content-center align-items-center flex-column">
        <img src="{{ '/assets/img/wall-community.svg' | prepend: site.url }}" class="img-fluid" alt="Community Wallpaper" />
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-lighy">
  <div class="container">
    <div class="row flex-row-reverse">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <img src="{{ '/assets/img/gnome-contributor.jpg' | prepend: site.url }}" class="img-fluid w-100 shadow" alt="GNOME Contributors" />
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start {% cycle 'pr-lg-5', 'pl-lg-5' %} px-3">
        <h6 class="text-secondary small font-weight-normal letter-spacing-custom">CONTRIBUTORS</h6>
        <h1 class="font-weight-light mb-3">Who are the contributors of GNOME?</h1>
        <span class="text-muted">
          GNOME Contributors are the faces of GNOME, that make GNOME exist be possible.
          They are our Developers, Translators, Documentors, Testers, Issue Reporters and the many others that help GNOME to grow and become a better ecosystem.
        </span>
      </div>
    </div>
  </div>
</section>

{% assign active_members = site.data.contributors | where:'active', true %}

<section class="py-4 bg-light" id="team">
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.contributors.heading }}</h2>
        <div class="alert alert-primary mb-0" role="alert">
          <strong>Notice:</strong> This list is updated manually and may not contain the real list of current and active GNOME Contributors.
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center pt-5 mx-auto">
      {% for member in active_members  %}
        {% include member.html %}
      {% endfor %}
    </div>
  </div>
</section>

{% include scripts.html %}
{% include footer.html %}
