---
navbar_type: dark
permalink: '/contributors/active'

heading: GNOME Contributors
description: Find out our current Contributors of the GNOME Project

contributors:
  heading: Current Contributors
  description: These are the current Contributors of GNOME.
  notice: <strong>Notice:</strong> This list is updated manually and may not contain the real list of current and active GNOME Contributors.
---

{% include header.html %}
{% include navbar.html %}
{% include subheader.html
  image='/assets/img/wall-contributors.svg'
  heading=page.heading
  description=page.description %}

{% include contributors/who-makes-gnome-possible.html %}

<section class="pb-5 bg-white" id="notice">
  <div class="container">
    <div class="alert alert-primary mb-0" role="alert">{{ page.contributors.notice }}</div>
  </div>
</section>

<section class="py-4 bg-light" id="team">
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.contributors.heading }}</h2>
        <span class="text-muted">{{ page.contributors.description }}</span>
      </div>
    </div>
    <div class="row d-flex justify-content-center pt-5 mx-auto gnome-members-list">
      {% for member_hash in site.data.members %}
        {% assign member = member_hash[1] %}
        {% if member.active == true %}
          {% include sections/member.html member=member %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="row d-flex justify-content-center pt-3 mx-auto">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <input aria-label="" type="text" class="form-control rounded-left gnome-members-filter"
                 placeholder="Search for a GNOMie..."/>
        </ul>
      </nav>
    </div>
  </div>
</section>

{% include scripts.html %}
{% include footer.html %}
