---
navbar_type: dark
permalink: ''

page_main_heading: GNOME Contributors
page_main_heading_description: Find out all our Contributors of the GNOME Project

contributors:
  heading: All Contributors
  description: Check out, these are all our past and current GNOME Contributors.
---

{% include header.html %}

{% include navbar.html %}

<section class="py-4 d-flex flex-column align-items-center bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-5 d-flex justify-content-end flex-column main-heading">
        <h1 class="display-3 pb-3">{{ page.page_main_heading }}</h1>
        <span class="text-info lead">{{ page.page_main_heading_description }}</span>
      </div>
      <div class="col-md-7 d-none d-md-flex justify-content-center align-items-center flex-column">
        <img src="{{ '/assets/img/wall-contributors.svg' | prepend: site.url }}" class="img-fluid" alt="Contributors Wallpaper" />
      </div>
    </div>
  </div>
</section>

{% include sections/contributors.html %}

<section class="py-4 bg-light" id="team">
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.contributors.heading }}</h2>
        <span class="text-muted">{{ page.contributors.description }}</span>
      </div>
    </div>
    <div class="row d-flex justify-content-center pt-5 mx-auto">
      {% assign member = site.data.become_a_contributor %}
      {% include sections/member.html %}
      {% for member_hash in site.data.members  %}
        {% assign member = member_hash[1] %}
        {% include sections/member.html %}
      {% endfor %}
    </div>
  </div>
</section>

{% include scripts.html %}
{% include footer.html %}
