---
navbar_type: dark
permalink: '/contributors/maintainers'

heading: GNOME Maintainers
description: Find out the about the people that drive GNOME Development

contributors:
  heading: Current Maintainers
  description: These are the individuals that currently lead the Development of GNOME Applications, GTK, and many more.

maintainers:
  heading: See our Maintainers!
  description: Below you see a complete list of our GNOME Maintainers grouped by Project they maintain!
  subheading: maintainers of
---

{% include header.html %}
{% include navbar.html %}
{% include subheader.html
  image='/assets/img/wall-maintainers.svg'
  heading=page.heading
  description=page.description %}

{% include contributors/who-maintains-gnome.html %}
{% include contributors/our-maintainers.html
  heading=page.maintainers.heading
  description=page.maintainers.description %}

<section class="pt-5 bg-light" id="team">
  <div class="container">
    {% assign projects = site.data.projects %}
    {% for project in projects %}
      <div class="row no-gutters d-flex justify-content-start">
        <h6 class="d-none d-md-block col-12 text-primary small font-weight-normal letter-spacing-custom pl-0">{{ page.maintainers.subheading | upcase }}</h6>
        <div class="row no-gutters d-flex justify-content-start pt-1">
          <div class="col-12 col-sm-auto pb-2 mr-3">
            <img src="{{ project.icon }}" class="float-left app-icon-small img-fluid app-icon icon-dropshadow" style="opacity:.8;" alt="Fonts">
          </div>
          <div class="col">
            <h6 class="d-block pl-0 d-md-none col-12 text-primary small font-weight-normal letter-spacing-custom">{{ page.maintainers.subheading | upcase }}</h6>
            <h4 class="font-weight-light mb-1">{{ project.name }}</h4>
            <small class="text-muted">{{ project.description }}</small>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-start pt-4 pb-4">
        {% for member_hash in site.data.members %}
          {% if member_hash[1].active == true and project.maintainers contains member_hash[0] %}
            {% assign member = member_hash[1] %}
            {% capture widgets %}
              {% include sections/member-social.html list=member.social %}
            {% endcapture %}
            {% include sections/member.html member=member widgets=widgets %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>

{% include scripts.html %}
{% include footer.html %}
