<section class="py-5 bg-white">
    <div class="container">
        <div class="row flex-row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="{{ '/assets/img/gnome-contributor.jpg' | prepend: site.url }}" class="img-fluid w-100 shadow" alt="GNOME Contributors" />
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start {% cycle 'pr-lg-5', 'pl-lg-5' %} px-3">
                <h6 class="text-secondary small font-weight-normal letter-spacing-custom">CONTRIBUTORS</h6>
                <h1 class="font-weight-light mb-3">Who are the contributors of GNOME?</h1>
                <span class="text-muted">
          GNOME Contributors are the faces of GNOME, that make GNOME exist be possible.
          They are our Developers, Translators, Documentors, Testers, Issue Reporters and the many others that help GNOME to grow and become a better ecosystem.
        </span>
            </div>
        </div>
    </div>
</section>