<section class="py-5 bg-white">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="{{ '/assets/img/gnome-maintainer.jpg' | prepend: site.url }}" class="img-fluid w-100 shadow"
                     alt="GNOME Maintainers"/>
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start {% cycle 'pr-lg-5', 'pl-lg-5' %} px-3">
                <h6 class="text-secondary small font-weight-normal letter-spacing-custom">MAINTAINERS</h6>
                <h1 class="font-weight-light mb-3">Who maintains GNOME?</h1>
                <span class="text-muted">
                    Each project, app and software behind GNOME are leaded by a group of high-trusting individuals.
                    Those are the GNOME Maintainers. They lead the development and design of each of our Initiatives.
                </span>
            </div>
        </div>
    </div>
    <hr class="w-75 mt-5">
</section>