<section class="py-5 bg-white">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="{{ '/assets/img/gnome-maintainer.jpg' | prepend: site.url }}" class="img-fluid w-100 shadow"
                     alt="GNOME Maintainers"/>
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start {% cycle 'pr-lg-5', 'pl-lg-5' %} px-3">
                <h6 class="text-secondary small font-weight-normal letter-spacing-custom">MAINTAINERS</h6>
                <h1 class="font-weight-light mb-3">Who are the GNOME Maintainers</h1>
                <span class="text-muted">
                    They are the people behind the success of each of GNOME Projects, Apps and Core Software.
                    They lead the Development and Design of our Projects.
                </span>
            </div>
        </div>
    </div>
</section>