{% assign social_networks = site.data.social_networks %}
{% assign default_avatar = '/assets/img/avatar.png' | prepend: site.url %}

<div class="col-6 col-md-4 col-lg-3 mb-3 px-0 px-md-3 gnome-member" data-index="{{ forloop.index | default: 1 }}">
  <div class="d-flex flex-column align-items-center text-center shadow-sm-hover py-3 bg-white rounded">
    <div class="rounded-circle mb-2 avatar-picture" style="background-image:url( '{{ include.member.avatar | default: default_avatar }}' )"></div>
    <span><strong class="gnome-member-name">{{ member.name }}</strong></span>
    {% assign position = badges | where:"id", member.title | first %}
    <span class="small text-muted">{{ member.title }}</span>
    <ul class="list-unstyled list-inline text-small mt-1 mb-0">
      {% for entry in member.social %}
        {% assign social = social_networks | where:"id", entry[0] | first %}
        <li class="list-inline-item">
          <a href="{{ entry[1] | prepend: social.base }}" class="text-muted text-primary">
            <i class="{{ social.icon }}"></i>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>