{% assign badges = site.data.badges %}
{% assign projects = site.data.projects %}
{% assign social_networks = site.data.social_networks %}

<div class="col-6 col-md-4 col-lg-3 mb-3 px-0 px-md-3">
    <div class="d-flex flex-column align-items-center text-center shadow-sm-hover py-3 bg-white rounded">
        <img src="{{ member.avatar | default: '/assets/img/avatar.png' | prepend: site.url }}" class="pb-2 img-fluid rounded-circle" style="max-width: 100px;" alt="{{ 'Profile Photo of ' | append: member.name }}" />
        <span><strong>{{ member.name }}</strong></span>
        {% assign position = badges | where:"id", member.title | first %}
        <a href="{{ position.link }}" class="{{ position.class }}">{{ position.name }}</a>
        <ul class="list-unstyled list-inline text-small my-1">
            {% for entry in member.badges %}
                {% assign badge = badges | where:"id", entry | first %}
                <li class="list-inline-item">
                    <a href="{{ badge.link }}" class="{{ badge.class }}">
                        {{ badge.name }}
                        {% if badge.icon %}
                            <i class="{{ badge.icon }}"></i>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <ul class="list-unstyled list-inline text-small mt-1 mb-0">
            {% for entry in member.social %}
                {% assign social = social_networks | where:"id", entry[0] | first %}
                <li class="list-inline-item">
                    <a href="{{ entry[1] | prepend: social.base }}" class="text-muted text-primary"><i class="{{ social.icon }}"></i></a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>