<section class="py-5 bg-white">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="{{ '/assets/img/gnome-speaker.jpg' | prepend: site.url }}" style="width: 170px" class="img-fluid w-100 shadow"
                     alt="GNOME Speakers"/>
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start {% cycle 'pr-lg-5', 'pl-lg-5' %} px-3">
                <h6 class="text-secondary small font-weight-normal letter-spacing-custom">EVENTS</h6>
                <h1 class="font-weight-light mb-3">Who are the GNOME Speakers?</h1>
                <span class="text-muted">
                    The GNOME Speakers are Contributors or Volunteers or Sponsors that held any kind of workshop, talk or activity during a GNOME Event.
                </span>
            </div>
        </div>
    </div>
</section>