<section class="py-5 bg-white">
  <div class="container">
    <div class="row flex-row">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <img src="{{ '/assets/img/gnome-contributor.jpg' | prepend: site.url }}" class="img-fluid w-100 shadow"
             alt="GNOME Contributors"/>
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start px-3">
        <h6 class="text-secondary small font-weight-normal letter-spacing-custom">CONTRIBUTORS</h6>
        <h1 class="font-weight-light mb-3">Who makes GNOME possible?</h1>
        <span class="text-muted">
          The GNOME Project is possible thanks to the all the people that contribute to the Project. These are our Contributors.
          They are our Developers, Translators, Documentation Gurus, Testers, Issue Reporters and the many other faces that envision the GNOME Desktop.
        </span>
      </div>
    </div>
  </div>
  <hr class="w-75 mt-5">
</section>