<section class="py-5 bg-light">
  <div class="container">
    <div class="row flex-row">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <img src="{{ '/assets/img/gnome-events.jpg' | prepend: site.url }}" class="img-fluid w-100 shadow"
             alt="GNOME Events"/>
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start px-3">
        <h6 class="text-secondary small font-weight-normal letter-spacing-custom">EVENTS</h6>
        <h1 class="font-weight-light mb-3">What are GNOME Events?</h1>
        <span class="text-muted">
            The GNOME Events are conferences, booths, release parties and workshops that are held or organised or approved by the GNOME Foundation. Being the most notorious ones
            the GNOME Asia, GUADEC and GUADEC Africa.
        </span>
      </div>
    </div>
  </div>
</section>