<script src="{{ '/assets/jquery/dist/jquery.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/popper.js/dist/umd/popper.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/bootstrap/dist/js/bootstrap.min.js' | prepend: site.url }}"></script>
<script>
    var btnTop = $("#btn-go-to-top");
    $(window).scroll(function() {
        if ($(window).scrollTop() < 400) {
            btnTop.addClass("d-none");
        }
        else {
            btnTop.removeClass("d-none");
        }
    });
    btnTop.on("click", function(e) {
        e.preventDefault();
        $("html, body").animate({scrollTop: 0});
    });
</script>
<script>
  const gnomeMembers = jQuery('.gnome-member');

  let currentPage = 1;
  let currentSearch = '';

  const amountOfContributors = gnomeMembers.length - 1;
  const amountPerPage = 10;
  const amountOfPages = amountOfContributors >= amountPerPage ? Math.round(amountOfContributors / amountPerPage) : 1;

  const filterMethod = () => {
    gnomeMembers.filter(function() {
      const textSearchResult = jQuery(this).find('.gnome-member-name').text().toLowerCase().indexOf(currentSearch) > -1;

      const currentIndex = parseInt(jQuery(this).attr('data-index'));

      const maximumPageNumberResult = currentIndex <= currentPage * amountPerPage;

      const minimalPageNumberResult = currentPage > 1 ? currentIndex > ((currentPage - 1) * amountPerPage) : true;

      jQuery(this).toggle(textSearchResult && maximumPageNumberResult && minimalPageNumberResult);
    });
  }

  const showPage = (pagination) => {
    const element = jQuery(pagination);

    currentPage = parseInt(element.text());

    filterMethod();

    jQuery('.page-item').removeClass('active');

    element.addClass('active');
  };

  for (let i = 1; i <= amountOfPages; i++) {
    jQuery('.pagination').append(`<li class="page-item" style="cursor: pointer" onClick="showPage(this)"><span class="page-link">${i}</span></li>`)
  }

  jQuery('.gnome-members-filter').on('keyup', function() {
    currentSearch = jQuery(this).val().toLowerCase();

    filterMethod();
  });

  jQuery('.page-item').first().addClass('active');

  filterMethod();
</script>