---
navbar_type: dark
permalink: '/speakers'

heading: GNOME Speakers
description: Find out who held a talk or workshop on past GNOME Events

speakers:
  heading: The Speaker Index
  description: These are all the people that hold any kind of activity during past GNOME Events
---

{% include header.html %}
{% include navbar.html %}
{% include subheader.html
  image='/assets/img/wall-community.svg'
  heading=page.heading
  description=page.description %}

{% include speakers/what-are-gnome-events.html %}
{% include speakers/who-are-the-gnome-speakers.html %}

<section class="py-4 bg-light" id="team">
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.speakers.heading }}</h2>
        <span class="text-muted">{{ page.speakers.description }}</span>
      </div>
    </div>
    <div class="row d-flex justify-content-center pt-5 mx-auto gnome-members-list">
      {% for member_hash in site.data.members %}
        {% assign member = member_hash[1] %}
        {% if member.badges contains 'speaker' %}
          {% include sections/member-speaker.html member=member %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="row d-flex justify-content-center pt-3 mx-auto">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <input aria-label="" type="text" class="form-control rounded-left gnome-members-filter"
                 placeholder="Search for a Speaker..."/>
        </ul>
      </nav>
    </div>
  </div>
</section>

{% include scripts.html %}
{% include footer.html %}
