---
navbar_type: dark
permalink: '/speakers'

page_main_heading: GNOME Speakers
page_main_heading_description: Find out who held a talk or workshop on past GNOME Events

foundation:
  heading: The Speaker Index
  description: These are all the people that hold any kind of activity during past GNOME Events
---

{% include header.html %}

{% include navbar.html %}

<section class="py-4 d-flex flex-column align-items-center bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-5 d-flex justify-content-end flex-column main-heading">
        <h1 class="display-3 pb-3">{{ page.page_main_heading }}</h1>
        <span class="text-info lead">{{ page.page_main_heading_description }}</span>
      </div>
      <div class="col-md-7 d-none d-md-flex justify-content-center align-items-center flex-column">
        <img src="{{ '/assets/img/wall-community.svg' | prepend: site.url }}" class="img-fluid" alt="Maintaers Wallpaper" />
      </div>
    </div>
  </div>
</section>

{% include sections/events.html %}
{% include sections/speakers.html %}

<section class="py-4 bg-light" id="team">
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.foundation.heading }}</h2>
        <span class="text-muted">{{ page.foundation.description }}</span>
      </div>
    </div>
    <div class="row d-flex justify-content-center pt-5 mx-auto">
      {% for member_hash in site.data.members  %}
        {% assign member = member_hash[1] %}
        {% if member.badges contains 'speaker' %}
          {% include sections/member.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% include scripts.html %}
{% include footer.html %}
