---
navbar_type: dark
---

{% include header.html %}
{% include navbar.html %}

<section>
  <div class="container" style="min-height: 50vh;">
    <div class="row py-3">

      <div class="col-md-4 col-sm-12 py-3">
        <div class="rounded-circle mb- avatar-picture-lg" style="background-image:url( '{{ page.avatar | default: default_avatar }}' )"></div>
      </div>

      <div class="col-md-8 col-sm-12 py-3">
        <h2 class="font-weight-bold">
          {{ page._name }} 
          {% if page.nick %}
            <small class="text-muted">({{ page.nick }})</small>
          {% endif %}
        </h2>
        <h4 class="text-muted">{{ page.title }}</h4>

        <section class="py-1">
          {% include sections/member-badges.html list=page.badges %}
          {% include sections/member-conferences.html list=page.conferences %}
        </section>

        <section class="py-1">
          {% include sections/member-social.html list=page.social %}
        </section>

        <section class="py-1">
          <p>{{ page.description }}</p>
        </section>

        {% if page.projects %}
        <section class="py-4">
          <h5 class="text-primary small font-weight-normal letter-spacing-custom pl-0">MAINTAINER OF</h5>
          {% for project in page.projects %}
            {% assign project_info = site.data.projects | where:"id", project | first %}
            {% if project_info %}
              <div class="row">
                <div>
                  <div class="row no-gutters d-flex justify-content-start">
                    <h6 class="d-none d-md-block col-12 text-primary small font-weight-normal letter-spacing-custom pl-0">{{ page.maintainers.subheading | upcase }}</h6>
                    <div class="row no-gutters d-flex justify-content-start pt-1">
                      <div class="col-12 col-sm-auto pb-2 mr-3">
                        <img src="{{ project_info.icon }}" class="float-left app-icon-small img-fluid app-icon icon-dropshadow" style="opacity:.8;" alt="Fonts">
                      </div>
                      <div class="col">
                        <h6 class="d-block pl-0 d-md-none col-12 text-primary small font-weight-normal letter-spacing-custom">{{ page.maintainers.subheading | upcase }}</h6>
                        <h4 class="font-weight-light mb-1">{{ project_info.name }}</h4>
                        <small class="text-muted">{{ project_info.description }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </section>
        {% endif %}

      </div>

    </div>
  </div>
</section>


